### LIST

In [1]:
num  = [1,2,3,4,5]
print(num)

[1, 2, 3, 4, 5]

In [2]:
print(num[0])
print(num[-1])

1
5

In [3]:
num.append(6)
print(num)

[1, 2, 3, 4, 5, 6]

In [4]:
num.remove(3)
print(num)

[1, 2, 4, 5, 6]

In [6]:
sum = 0
for i in num:
    sum += i
print(sum)

18

In [11]:
num.sort()
print(num)
smallest_element = num[0]
largest_element = num[-1]
print(smallest_element)
print(largest_element)

[1, 2, 4, 5, 6]
1
6

In [23]:
l1 = [5,3,5,2,3,5,1,5,2,5]
element = 5
count = 0
for num in l1:
    if num == element:
        count+=1
print(f"count of {element} = {count}")

count of 5 = 5

In [24]:
count = len([ i for i in l1 if element == i])
print(count)

5

In [5]:
list2 = [5,3,9,7,4]
l=(list2[::-1])
print(l)

[4, 7, 9, 3, 5]

In [5]:
l = [3,2,4,3,4]
new_l =[]
for i in l:
    if i not in new_l:
        new_l.append(i)
print(new_l)

[3, 2, 4]

In [8]:
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]
merged_list = l1+l2
print(merged_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
nums = [1,2,3,4,5,6,7,8,9,10]
even_num = [x for x in nums if x % 2 == 0]
print(even_num)

[2, 4, 6, 8, 10]

In [13]:
nums.sort(reverse = True)
print(nums)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [16]:
list1 = [2,5,3,1,7]
list2 = list1.copy()
print(list2)

[2, 5, 3, 1, 7]

In [18]:
list1 = [x for x in range(1,11)]
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
squares = [x** 2 for x in range(1,6)]
print(squares)

[1, 4, 9, 16, 25]

In [20]:
even_num = [x for x in range(1,21) if x % 2== 0]
print(even_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [21]:
str_list = ["apple","banana","cherry","kiwi"]
upper_case_str =[x.upper() for x in str_list]
print(upper_case_str)

['APPLE', 'BANANA', 'CHERRY', 'KIWI']

In [22]:
odd_squares = [x**2 for x in range(1,11) if x%2 != 0]
print(odd_squares)

[1, 9, 25, 49, 81]

In [23]:
nums = [1,4,20,12,5,21,11]
new_num =[num for num in nums if num> 10]
print(new_num)

[20, 12, 21, 11]

In [24]:
vowels = "aeiouAEIOU"
str = [x for x in "poOjithA" if x in vowels]
print(str)

['o', 'O', 'i', 'A']