### LIST

In [1]:
num  = [1,2,3,4,5]
print(num)

[1, 2, 3, 4, 5]

In [2]:
print(num[0])
print(num[-1])

1
5

In [3]:
num.append(6)
print(num)

[1, 2, 3, 4, 5, 6]

In [4]:
num.remove(3)
print(num)

[1, 2, 4, 5, 6]

In [6]:
sum = 0
for i in num:
    sum += i
print(sum)

18

In [11]:
num.sort()
print(num)
smallest_element = num[0]
largest_element = num[-1]
print(smallest_element)
print(largest_element)

[1, 2, 4, 5, 6]
1
6

In [23]:
l1 = [5,3,5,2,3,5,1,5,2,5]
element = 5
count = 0
for num in l1:
    if num == element:
        count+=1
print(f"count of {element} = {count}")

count of 5 = 5

In [24]:
count = len([ i for i in l1 if element == i])
print(count)

5

In [5]:
list2 = [5,3,9,7,4]
l=(list2[::-1])
print(l)

[4, 7, 9, 3, 5]

In [5]:
l = [3,2,4,3,4]
new_l =[]
for i in l:
    if i not in new_l:
        new_l.append(i)
print(new_l)

[3, 2, 4]

In [8]:
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]
merged_list = l1+l2
print(merged_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
nums = [1,2,3,4,5,6,7,8,9,10]
even_num = [x for x in nums if x % 2 == 0]
print(even_num)

[2, 4, 6, 8, 10]

In [13]:
nums.sort(reverse = True)
print(nums)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [16]:
list1 = [2,5,3,1,7]
list2 = list1.copy()
print(list2)

[2, 5, 3, 1, 7]

In [18]:
list1 = [x for x in range(1,11)]
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
squares = [x** 2 for x in range(1,6)]
print(squares)

[1, 4, 9, 16, 25]

In [20]:
even_num = [x for x in range(1,21) if x % 2== 0]
print(even_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [21]:
str_list = ["apple","banana","cherry","kiwi"]
upper_case_str =[x.upper() for x in str_list]
print(upper_case_str)

['APPLE', 'BANANA', 'CHERRY', 'KIWI']

In [22]:
odd_squares = [x**2 for x in range(1,11) if x%2 != 0]
print(odd_squares)

[1, 9, 25, 49, 81]

In [23]:
nums = [1,4,20,12,5,21,11]
new_num =[num for num in nums if num> 10]
print(new_num)

[20, 12, 21, 11]

In [24]:
vowels = "aeiouAEIOU"
str = [x for x in "poOjithA" if x in vowels]
print(str)

['o', 'O', 'i', 'A']

In [1]:
list1 = [21,43,54,32,12,19]
list1.append(5)
print(list1)

[21, 43, 54, 32, 12, 19, 5]

In [2]:
list1.count(5)

1

In [3]:
list1.index(12)

4

In [5]:
list1.insert(4,10)
print(list1)

[21, 43, 54, 32, 10, 10, 12, 19, 5]

In [6]:
list1.remove(10)
print(list1)

[21, 43, 54, 32, 10, 12, 19, 5]

In [7]:
list1.pop()

5

In [8]:
list1.reverse()
print(list1)

[19, 12, 10, 32, 54, 43, 21]

In [9]:
list1.sort()
print(list1)

[10, 12, 19, 21, 32, 43, 54]

### Tuple

In [1]:
t1 = (3,1,6,7,2)
print(t1)

(3, 1, 6, 7, 2)

In [2]:
print(type(t1))

<class 'tuple'>

In [4]:
print(t1[0])
print(t1[-1])

3
2

In [7]:
t =(1,) # python recognizes tuple by comma not parantheses
print(t)

(1,)

In [8]:
type(t)

tuple

In [9]:
t2 = (10,43,21,12,10)
print(len(t2))

5

In [10]:
l1 = list(t2)
print(l1)

[10, 43, 21, 12, 10]

In [11]:
new_tuple = tuple(l1)
print(new_tuple)

(10, 43, 21, 12, 10)

In [12]:
t2.count(10)

2

In [13]:
t2.index(10)

0

In [14]:
t =(1,2,3)
t = t+ (4,5)
print(t)

(1, 2, 3, 4, 5)

In [15]:
t[0] =10

TypeError: 'tuple' object does not support item assignment

In [17]:
l = list(t)
print(l)

[1, 2, 3, 4, 5]

In [18]:
l[0] = 10
print(l)

[10, 2, 3, 4, 5]

In [20]:
new_t = tuple(l)
print(new_t)

(10, 2, 3, 4, 5)

In [21]:
num = (1,[2,3],4)
num[1].append(5)
print(num)

(1, [2, 3, 5], 4)

In [24]:
a,b = (5,10)
print(a)
print(b)

5
10

In [26]:
colors = ("pink","blue","green","black")
c1,c2,c3,c4 = colors
print(c1)
print(c2)
print(c3)
print(c4)

pink
blue
green
black

In [27]:
a,b = (5,10)
a,b = b,a
print(a,b)

10 5

In [28]:
fruits = ("apple","kiwi","cherry","orange")
for fruit in fruits:
    print(fruit)

apple
kiwi
cherry
orange

In [29]:
for i in range(len(fruits)):
    if i%2==0:
        print(fruits[i])

apple
cherry

In [30]:
num = (2,5,1,7,4)
print(sum(num))

19

In [31]:
for i in num:
    if i%2 != 0:
        print(i)

5
1
7